<!-- Base dos arquivos html para extensão de templates.
Podendo usar as mesmas partes do seu HTML em diferentes páginas do seu site.
Templates ajudam quando você quer usar a mesma informação ou layout em mais de um lugar. -->

<!DOCTYPE html>

{% load static %} <!--chama os arquivos estaticos -->
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head> <!--Head contém informações sobre o documento que não são mostradas na tela - configurações da pág-->

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}  <!-- apresenta o link somente para os usuários que estiverem logados como admin -->
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> <!-- após criar
                essa URL é preciso adicionar a url no arquivo blog/url.py do contrário vc verá o erro NoReverseMatch-->
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body> <!--Body contém tudo o que é exibido como parte de uma página da web - conteudo da pág-->
</html>