<!-- Template para os detalhes do post -->

<!DOCTYPE html>

{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}  <!-- um IF para conferir se a data de um post não está vazia -->
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %} <!-- deixa o botão Editar disponivel apenas para usuários Admin do sistema -->
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}