<!--O diretório template criará as pág que apareceram no site-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Django Girls</title>
</head> <!--Head contém informações sobre o documento que não são mostradas na tela - configurações da pág-->
<body>

        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

</body>  <!--Body contém tudo o que é exibido como parte de uma página da web - conteudo da pág-->
</html>


<!-- Para personalizar um template

    <h1>Um título</h1> para o título da seção principal exibido na página
    <h2>Um sub-título</h2> para um título um nível abaixo
    <h3>Um sub-sub-título</h3> ... e por aí vai, até <h6>
    <p>Um parágrafo de texto</p>
    <em>texto</em> enfatiza seu texto
    <strong>text</strong> enfatiza fortemente seu texto
    <br> quebra a linha (você não pode digitar nada dentro da tag br e ela não possui uma tag de fechamento correspondente)
    <a href="https://djangogirls.org">link</a> cria um link
    <ul><li>primeiro item</li><li>segundo item</li></ul> cria uma lista, exatamente como essa!
    <div></div> define uma seção da página

-->