<!--O diretório template criará as pág que apareceram no site-->

<!DOCTYPE html>

{% extends 'blog/base.html' %}  <!-- para EXTENDER os templates, ou seja, vai juntar os arquivos base.html e post.html-->

{% block content %} <!-- para inserir BLOCOS de conteudo na pág -->
    {% for post in posts %} <!-- um FOR para exibir os posts da pág -->
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> <!-- para criar uma URL usando template do django-->
            <!-- o Django espera uma URL no arquivo blog/urls.py com o nome definido como name='post_detail'-->
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}



<!-- Para personalizar um template

    <h1>Um título</h1> para o título da seção principal exibido na página
    <h2>Um sub-título</h2> para um título um nível abaixo
    <h3>Um sub-sub-título</h3> ... e por aí vai, até <h6>
    <p>Um parágrafo de texto</p>
    <em>texto</em> enfatiza seu texto
    <strong>text</strong> enfatiza fortemente seu texto
    <br> quebra a linha (você não pode digitar nada dentro da tag br e ela não possui uma tag de fechamento correspondente)
    <a href="https://djangogirls.org">link</a> cria um link
    <ul><li>primeiro item</li><li>segundo item</li></ul> cria uma lista, exatamente como essa!
    <div></div> define uma seção da página

-->